<div class="products" *ngIf="categoryId!=='All'">
    <div class="product" *ngFor="let item of products" >
        <mat-card>
            <div class="main" (click)="openProduct(item)">
              <h2>{{item.name}}</h2>
              <p>{{item.description}}</p>
              
              <img [src]="'http://localhost:3000/uploads/'+item.image">
              <p><strong>Rs. {{item.price}}</strong></p>
            </div>
            <button (click)="addToCart(item)" >Add to cart</button>
        </mat-card>
    </div>
</div> 
<div *ngIf="categoryId==='All'">
  <hr>
  <h1 style="text-align: center;">Featured Products</h1>
  <hr>
  <section class="policy-product">
    <div class="containers">
      <div class="bg-position" style="padding: 70px;">
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide *ngFor="let item of products let i = index" >
            <div class="policy-p-card" >
              <div >
                <div class="date">
                  <h3>16</h3>
                  <h4>Sept</h4>
                </div>
                <div class="policy-image">
                  <img [src]="'http://localhost:3000/uploads/'+item.image" alt="Product Image">
                </div>
                <h2 (click)="openProduct(item)">{{item.name}}</h2>
                <h3>Rs. {{item.price}}</h3>
                <p>{{item.description}}</p>
                <button (click)="addToCart(item)">Add to cart</button>
              </div>
            </div>
          </ng-template>
      </owl-carousel-o>
      </div>
    </div>
  </section>
</div>