<div class="footer_class">
    <div class="scroll-to-top" [ngClass]="{'show-scrollTop': windowScrolled}">
        <button type="button" class="btn active" data-toggle="button" aria-pressed="true" (click)="scrollToTop()">
            Scroll to Top
        </button>
      </div>
      <section class="policy">
        <div class="containers text-center">
          <div class="row">
            <div class="col-md-4">
              <div class="policy-card">
                <div class="round">
                  <div class="round-icon">
                    <i class="fa fa-car"></i>
                  </div>
                </div>
                <h2>Free shipping &amp; return</h2>
              <p>Free shipping on all India orders</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="policy-card">
                <div class="round">
                  <div class="round-icon">
                    <i class="fa fa-refresh"></i>
                  </div>
                </div>
                <h2>Money back</h2>
              <p>30 days refund policy</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="policy-card">
                <div class="round">
                  <div class="round-icon">
                    <i class="fa fa-phone"></i>
                  </div>
                </div>
                <h2>24/7  Service</h2>
              <p>Free customer support</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      
</div>
