.scroll-to-top {
    height: 50px; 
    bottom: 15px;
    right: 15px;
    opacity: 0;
    transition: all .2s ease-in-out;
    background-color: #232f3e; ;
    text-align: center;
    font-size: large;
    width: 100%;
   }
   .show-scrollTop {
    opacity: 1;
    transition: all .2s ease-in-out;
   }
   
   button{
       color: white;
   }

