<div class="header">
    <nav class="header_top">
        <div class="header_menu">
            <!-- <a href="#"> -->
                <img routerLink="/#" src="http://pngimg.com/uploads/amazon/amazon_PNG11.png" class="header_menu_logo" alt="" >
            <!-- </a> -->

            <div class="header_bottom_location_text">
                <span class="header_left_line_one">Delivery to</span>
                <span class="header_left_line_two"><strong>India</strong></span>
            </div>

            <div class="header_menu_searchbar">
                <div class="header_menu_category_list">
                    <select name="category" id="category" class="category_dropdown" >
                        <option *ngFor="let c of categories" value="{{c.id}}">{{c.name}}</option>
                    </select>
                </div>
                <input type="text" class="header_menu_input">
                <div class="header_menu_searchbar_icon">
                    <mat-icon>search</mat-icon>
                </div>
            </div>

            <div class="header_menu_singin">
                <span class="header_menu_top_item">Hello, {{username}}</span>
                <a href="/account" style="color: white;">
                    <span class="header_menu_bottom_item">Account</span>
                </a>
                
            </div>

            <div class="header_menu_singin">
                <span class="header_menu_top_item">Returns</span>
                <span class="header_menu_bottom_item">& Orders</span>
            </div>

            <div class="header_menu_cart">
            <a href="/checkout" style="color: white;">
                <mat-icon>shopping_cart</mat-icon>
            </a>
                    
                
                <p class="header_cart_number">{{shoppingCart.getCartLength()}}</p>
            </div>

        </div>
    </nav>

    <div *ngIf="isSeller">
        <nav class="header_bottom">
            <div class="bottom_content">
                <!-- <div class="header_menu_icon">
                    <mat-icon>menu</mat-icon>
                </div>
                 -->
                <a href="/addProduct" class="bottom_text">Add Products</a>
                <a href="/addCoupon" class="bottom_text">Add Coupons</a>
            </div>
            
        </nav>
    </div>
</div>