<div style="margin: 20px;">
  <h1>Update Account Type</h1>
      <form [formGroup]="userTypeForm">
        <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" formControlName="customer" value="customer"  id="customer">
                    <label class="form-check-label" for="userType">
                        <h4>Customer</h4>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" formControlName="seller" value="seller" id="seller">
                    <label class="form-check-label" for="userType">
                        <h4>Seller</h4>
                    </label>
                </div>
                <button type="button" class="btn" (click)="changeUserType()">Save changes</button>
                <button type="button" class="btn" (click)="logout()">Log Out</button>
  </div>
  </form>
</div>
    
    
  
    