

.form-group button {
    border-radius: 2px;
    background: #f0c14b;
    width: 100%;
    margin-top: 20px;
    height: 30px;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    padding: 0px;
    
}

h1{
    align-items: center;
    text-align: center;
}

.form-group{
    margin: 20px;
}