<app-header></app-header>
<div class="checkout">
    <div class="checkout_left">
        
        <div class="checkout_empty" *ngIf="shopping_cart.getCartLength() == 0">
            <h2>Your shopping basket is empty</h2>
            <p>Let's get shopping!</p>

        </div>
        <div class="checkout_not_empty" *ngIf="shopping_cart.getCartLength() != 0">
            <h1><strong>Shopping Cart</strong></h1>
            <app-checkout-products></app-checkout-products>
        </div>

    </div>
    <div class="checkout_right">
     <app-checkout-subtotal></app-checkout-subtotal>
     <app-checkout-coupon></app-checkout-coupon>

    </div>
</div>

<app-footer></app-footer>