<div class="subtotal" *ngIf="shoppingCart.getCartLength() > 0">
    <div>
        <p><strong>Available Coupons</strong></p>
    </div>

    <div class="allCoupons" *ngFor="let coupon of coupons">
        <input [disabled]="couponApplied" [(ngModel)]="discount_rate" type="radio" name="coupons" value="{{coupon.discount_rate}}">
        <label>{{coupon.code}}</label><br>
        <p>{{coupon.description}}</p>
    </div>
    <button *ngIf="!couponApplied" (click)="applyCoupon()">Apply Coupon</button>
    <button *ngIf="couponApplied" (click)="reset()">Reset</button>
</div>